<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Облачный тако</title>
</head>
<body>

<h1>Регистрация</h1>
<img th:src="@{/images/TacoCloud.png}"/>

<form method="POST" th:action="@{/register}" id="registerForm">

    <label for="username">Логин: </label>
    <input type="text" name="username"> <br>

    <label for="password">Пароль: </label>
    <input type="password" name="password"> <br>

    <label for="confirm">Подтвердите пароль: </label>
    <input type="password" name="confirm"> <br>

    <label for="fullname">Полное имя: </label>
    <input type="text" name="fullname"> <br>

    <label for="street">Улица: </label>
    <input type="text" name="street"> <br>

    <label for="city">Город: </label>
    <input type="text" name="city"> <br>

    <label for="state">Государство: </label>
    <input type="text" name="state"> <br>

    <label for="zip">Индекс: </label>
    <input type="text" name="zip"> <br>

    <label for="phoneNumber">Номер телефона: </label>
    <input type="text" name="phoneNumber"> <br>

    <input type="submit" value="Регистрация"/>

</form>

</body>
</html>